h1 {
    color:whitesmoke;

}

.title{
    display:flex;
    justify-content:space-around;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 40;
    color: #ffffff;
    
}

.paragraph{
    display:flex;
    justify-content: space-around;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 40;
    color: #ffffff;
}
.menu{
    display:flex;
    justify-content:space-between;
    background-color: black;
    padding-left: 800px;
    padding-bottom: 150px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 40;
    color: #ffffff;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
body{
    margin: 0px;
    background-color:#f7f2f2;
    color: #000000;
}
.item{
    border-radius: 100px;
    background-color: white;
    padding:50px;
    margin: 50px;
    width: 310px;
    font-family: Arial, Helvetica, sans-serif; 
}

.grid img{
    border: 2px solid #000000;
    border-radius: 10px;
    margin-left:50px;

}

a:link {
    color:rgb(47, 0, 255);
    text-decoration: none;
}
a:visited {
    color:rgb(235, 8, 8);
    text-decoration: none;
}

.item:hover img{
    opacity:0.3;
    transform: scale(1.2);
}
.item img{
    position:relative;
}
.item p{
    position:absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
}

